/* Подключение шрифтов */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-style: medium;
  font-weight: 500;
}

/*=======================HEADER======================= */
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  background-color: #eeeeee;
}

.wrap {
  width: 96%;
  max-width: 1160px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
}

img {
  max-width: 100%;
}

.logo {
  width: 15%;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.logo a {
  display: inline-block;
  text-decoration: none;
}


.nav-menu {
  width: 72%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.nav-menu .link-menu {
  margin-right: 46px;
}


.nav-menu .link-menu:nth-child(4) {
  margin-right: 0;
}


.nav-menu .basket {
  position: relative;
  margin-left: 286px;
}

.nav-menu li a {
  display: inline-block;
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: #fb565a;
}

.nav-menu li a:active {
  color: #000000;
  opacity: 0.3;
}

.nav-menu .active-shop a {
  border-bottom: 2px solid #fb565a;
}

.nav-menu .active-index a {
  border-bottom: 2px solid #fb565a;
}

.nav-menu .basket::before {
  position: absolute;
  display: block;
  bottom: 10px;
  left: -40px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/shopping-cart_icon-icons.com_72552.svg");
  background-repeat: no-repeat;
}

/****************** SLIDER ***********************/

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item h2 {
  margin-top: 0;
  margin-bottom: 28px;
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-item p {
  margin-top: 0;
  margin-bottom: 42px;
  color: #283136;
  line-height: 24px;
}

.slider-item a {
  width: 240px;
  padding: 18px 0;
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
}

.slider-item a:hover {
  background-color: #e74246;
}

.slider-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: #e27173;
}

.slider-item {
  padding-top: 85px;
  padding-bottom: 80px;
}

.slider-item:nth-child(1) {
  display: none;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 34px;
}

.slider-item:nth-child(2) {
  display: none;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 98% 34px;
}

.slider-item:nth-child(3) {
  display: none;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 34px;
}

/****************** TOGGLE ***********************/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 42%;
  bottom: 105px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/****************** MAIN ***********************/
.skill {
  padding: 80px 0;
  border-bottom: 2px solid #eeeeee;
}

.skill-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  ;
}

.skill-item {
  width: 26%;
  margin-right: 100px;
}

.skill-item:nth-child(3) {
  margin-right: 29px;
}

.skill-item h2 {
  margin: 26px 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.skill-item p {
  margin-top: 0;
  margin-bottom: 35px;
  color: #283136;
  line-height: 24px;
}

.skill-item a {
  width: 160px;
  padding: 18px 0;
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
}

.btn-red {
  background-color: #fb565a;
}

.btn-green {
  background-color: #00ca74;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-red:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: #e16a6d;
}

.btn-green:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: #3fbf89;
}

.btn-yellow:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: #ecc062;
}

/****************** ABOUT ***********************/

.about {
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.design-studio-1 {
  width: 57%;
}

.design-studio-1 b {
  display: block;
  margin-top: 40px;
  margin-bottom: 35px;
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.design-studio-1 p {
  margin-top: 0;
  margin-bottom: 45px;
  color: #283136;
  line-height: 24px;
}

.development {
  margin: 0;
  padding: 0;
  line-height: 24px;
  list-style: none;
}

.development li {
  margin-bottom: 15px;
  color: #283136;
}

.development li h3 {
  margin: 0;
  color: #000000;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
}

.development li:nth-child(4) {
  margin-bottom: 0;
}

.red-stick::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  vertical-align: middle;
  margin-right: 10px;
}

.design-studio-2 {
  width: 33%;

}

.statistics {
  margin-top: 41px;
  border-collapse: collapse;
}

.title {
  margin-bottom: 49px;
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.statistics th {
  padding-right: 26px;
  padding-bottom: 26px;
  color: #000000;
  text-align: left;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.statistics td {
  text-align: left;
  color: #283136;
  line-height: 18px;
}

/****************** BRAND ***********************/
.item-brand {
  padding: 45px 0;
  border-bottom: 2px solid #eeeeee;
}

.item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-logo a {
  display: inline-block;
  text-decoration: none;
  opacity: 0.2;
}

.link-logo a:hover {
  opacity: 1;
}

.link-logo a:active {
  opacity: 0.1;
}

.link-logo:nth-child(1):after {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 8px;
  margin-left: 49px;
  margin-right: 45px;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.link-logo:nth-child(2):after {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 20px;
  margin-left: 44px;
  margin-right: 57px;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.link-logo:nth-child(3):after {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 56px;
  margin-right: 63px;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

/****************** MAP ***********************/
.map {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
}

.container-write {
  position: absolute;
  bottom: 50px;
  padding: 45px 50px;
  background-color: #ffffff;
}

.checkbox-map {
  position: absolute;
  right: 540px;
  bottom: 225px;
}

.write h3 {
  margin-top: 0;
  margin-bottom: 32px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.write span {
  display: block;
  color: #666666;
  line-height: 18px;
}

.tel {
  margin-top: 20px;
  margin-bottom: 37px;
}

.write a {
  display: block;
  width: 219px;
  padding: 19px 0;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  text-align: center;
  border-radius: 3px;
}

.write a:hover {
  background-color: #e74246;
}

.write a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/*=======================POPUP======================= */
.box-popup {
  display: none;
  position: absolute;
  top: -65px;
  left: 240px;
  z-index: 2;
  width: 67%;
  padding: 70px 90px;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
}

.title-popup {
  margin-bottom: 49px;
  position: relative;
}

.title-popup h3 {
  margin: 0;
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.close {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: -10px;
  width: 21px;
  height: 21px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:active {
  opacity: 0.1;
}

.close:before,
.close:after {
  position: absolute;
  content: ' ';
  height: 21px;
  width: 3px;
  background-color: #fb565a;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/*=======================FORM======================= */

.box-name,
.box-email {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

.box-name {
  margin-right: 40px;
  margin-bottom: 36px;
}

label {
  display: block;
  margin-bottom: 12px;
  color: #000000;
  font-weight: 700;
  line-height: 18px;
}

input[type="text"] {
  width: 360px;
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 16px;
  color: #444444;
  opacity: 0.5;
  line-height: 18px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="email"] {
  width: 360px;
  padding-top: 18px;
  padding-bottom: 16px;
  padding-left: 16px;
  color: #444444;
  opacity: 0.5;
  line-height: 18px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  box-sizing: border-box;
}

input:hover {
  border: 2px solid #b4b9bb;
}

input:focus {
  outline: none;
  opacity: 1;
  border: 2px solid #000000;
}

input:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.title-textaria {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 18px;
}

textarea {
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 47px;
  opacity: 0.5;
  color: #444444;
  border: 2px solid #d7dcde;

}

textarea:hover {
  border: 2px solid #b4b9bb;
}

textarea:focus {
  outline: none;
  opacity: 1;
  border: 2px solid #000000;
}

.btn-form {
  width: 260px;
  padding: 18px 0;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
}

/****************** FOOTER ***********************/
.footer {
  padding: 69px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social {
  width: 23%;
  margin: 0;
  margin-right: 139px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.social li a {
  display: block;
  text-decoration: none;
}

.link-vk {
  padding: 32px 26px;
}

.link-fb {
  padding: 28px 33px;
}

.link-ins {
  padding: 29px;
}

.social-icon {
  width: 79px;
  height: 79px;
  margin-right: 12px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-icon:hover {
  background-color: #e74246;
}

.link-vk:active,
.link-fb:active,
.link-ins:active {
  opacity: 0.3;
}

.social-icon:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.ins {
  margin-right: 0;
}

.friends h3 {
  margin-top: 0;
  margin-bottom: 12px;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.friends span {
  display: block;
  color: #444444;
  line-height: 22px;
}

/****************** SHOP-HEADER ***********************/
.menu-filter {
  padding: 60px 0;
}

.title-shop {
  margin: 0;
  padding-top: 82px;
  padding-bottom: 116px;
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.filter {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.filter a {
  color: #000000;
  text-decoration: none;
}

.cost-filter {
  margin-right: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.05px;
}

.sort-filter {
  margin-right: 267px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.price-filter,
.type-filter,
.name-filter {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.price-filter,
.type-filter {
  margin-right: 26px;
}

.name-filter {
  margin-right: 48px;
}

.down-filter {
  margin-right: 18px;
}

/****************** FORM-FILTER ***********************/

.main-center {
  padding-top: 60px;
  display: flex;
  justify-content: flex-start;
}

.form-filter {
  width: 23%;
  margin-right: 140px;
}

.filter-item {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 56px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 170px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  line-height: 22px;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/****************** visually-hidden ***********************/
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
} */
/****************** visually-hidden ***********************/

.grid-radio {
  margin: 0;
  padding: 0;
  border: none;
}

.grid-radio legend {
  display: block;
  margin-bottom: 27px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.adaptive,
.fix,
.rubber {
  display: inline-block;
  margin-bottom: 20px;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  ;
  cursor: pointer;
}

.rubber {
  margin-bottom: 0;
}

.adaptive:hover::before,
.fix:hover::before,
.rubber:hover::before {
  opacity: 1;
}

#adaptive:disabled~.grid-view .adaptive,
#fix:disabled~.grid-view .fix,
#rubber:disabled~.grid-view .rubber {
  opacity: 0.3;
}

#adaptive:checked:disabled~.grid-view .adaptive::before,
#fix:checked:disabled~.grid-view .fix::before,
#rubber:checked:disabled~.grid-view .rubber::before,
#adaptive:disabled~.grid-view .adaptive::before,
#fix:disabled~.grid-view .fix::before,
#rubber:disabled~.grid-view .rubber::before {
  opacity: 0.2;
}


#adaptive:checked~.grid-view .adaptive:hover::before,
#fix:checked~.grid-view .fix:hover::before,
#rubber:checked~.grid-view .rubber:hover::before {
  opacity: 1;
}

#adaptive:checked~.grid-view .adaptive:before,
#fix:checked~.grid-view .fix:before,
#rubber:checked~.grid-view .rubber:before {
  display: inline-block;
  margin-right: 10px;
  content: "";
  width: 25px;
  height: 25px;
  opacity: 0.4;
  background-image: url("../img/radio-on.png");
  background-repeat: no-repeat;
}

.adaptive::before,
.fix::before,
.rubber::before {
  display: inline-block;
  margin-right: 10px;
  content: "";
  width: 25px;
  height: 25px;
  vertical-align: middle;
  opacity: 0.4;
  background-image: url("../img/radio-off.png");
  background-repeat: no-repeat;
}

.grid-checkbox {
  margin: 40px 0;
  padding: 0;
  border: none;
}

.grid-checkbox legend {
  display: block;
  margin-bottom: 22px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.grid-features label {
  margin-bottom: 17px;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.grid-features label:nth-child(5) {
  margin-bottom: 0;
}

.slide::before,
.block::before,
.news::before,
.gallery::before,
.bag::before {
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 10px;
  opacity: 0.4;
  content: "";
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: middle;
}

#checkbox1:checked~.grid-features .slide::before,
#checkbox2:checked~.grid-features .block::before,
#checkbox3:checked~.grid-features .news::before,
#checkbox4:checked~.grid-features .gallery::before,
#checkbox5:checked~.grid-features .bag::before {
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 10px;
  opacity: 0.4;
  content: "";
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: middle;
}

#checkbox1~.grid-features .slide:hover::before,
#checkbox2~.grid-features .block:hover::before,
#checkbox3~.grid-features .news:hover::before,
#checkbox4~.grid-features .gallery:hover::before,
#checkbox5~.grid-features .bag:hover::before,
#checkbox1:checked~.grid-features .slide:hover::before,
#checkbox2:checked~.grid-features .block:hover::before,
#checkbox3:checked~.grid-features .news:hover::before,
#checkbox4:checked~.grid-features .gallery:hover::before,
#checkbox5:checked~.grid-features .bag:hover::before {
  opacity: 1;
}

#checkbox1:disabled~.grid-features .slide::before,
#checkbox2:disabled~.grid-features .block::before,
#checkbox3:disabled~.grid-features .news::before,
#checkbox4:disabled~.grid-features .gallery::before,
#checkbox5:disabled~.grid-features .bag::before,
#checkbox1:checked:disabled~.grid-features .slide::before,
#checkbox2:checked:disabled~.grid-features .block::before,
#checkbox3:checked:disabled~.grid-features .news::before,
#checkbox4:checked:disabled~.grid-features .gallery::before,
#checkbox5:checked:disabled~.grid-features .bag::before {
  opacity: 0.2;
}


#checkbox1:checked:disabled~.grid-features .slide,
#checkbox2:checked:disabled~.grid-features .block,
#checkbox3:checked:disabled~.grid-features .news,
#checkbox4:checked:disabled~.grid-features .gallery,
#checkbox5:checked:disabled~.grid-features .bag,
#checkbox1:disabled~.grid-features .slide,
#checkbox2:disabled~.grid-features .block,
#checkbox3:disabled~.grid-features .news,
#checkbox4:disabled~.grid-features .gallery,
#checkbox5:disabled~.grid-features .bag {
  opacity: 0.3;
}

.btn-form-shop {
  width: 260px;
  padding: 18px 0;
  color: #000000;
  font-weight: 500;
  line-height: 18px;
  background-color: #eeeeee;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-form-shop:hover {
  background-color: #dfdfdf;
}

.btn-form-shop:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: #4d4d4d;
}

.btn-form-shop:focus {
  outline: none;
}

/****************** IMAGE-CENTER ***********************/
.box-image {
  position: relative;
  margin-bottom: 30px;
}

.box-image:last-child {
  margin-bottom: 0;
}

.image-center {
  width: 31%;
  margin-right: 40px;
}

.header-image {
  padding-top: 40px;
  background-image: url("../img/browser.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.box-image:hover .header-image {
  background-image: url("../img/browser-on.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.image-center b {
  display: block;
  margin-bottom: 69px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.box-image:hover .container {
  display: block;
}

.container {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 0;
  padding: 30px 65px;
  background-color: #eeeeee;
  text-align: center;
  box-sizing: border-box;
}

.container-center h2 {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.container-center p {
  margin-top: 25px;
  margin-bottom: 30px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.container-center a {
  display: block;
  width: 200px;
  margin-left: 15px;
  padding: 18px 0;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.container-center a:hover {
  background-color: #e74246;
}

.container-center a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/****************** IMAGE_RIGHT ***********************/
.filter-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-bottom: 69px;
  padding: 0;
  list-style: none;
}

.filter-right .name-right {
  margin-right: 48px;
}

.filter-right .price-right  {
  opacity: 1;
}


.filter-right .updown-right {
  margin-right: 0;
}

.filter-right li {
  margin-right: 28px;
}

.filter-right li {
  opacity: 0.3;
}

.filter-right a {
  display: inline-block;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;  
}

.filter-right .type-right:hover,.filter-right .name-right:hover,.filter-right .updown-right .up-right:hover {
  opacity: 0.6;
}


.filter-right .type-right:active,.filter-right .name-right:active,.filter-right .updown-right .up-right:active {
  opacity: 1;
}

.filter-right .updown-right .down-rigth {
  margin-right: 10px;
  
}

.filter-right .updown-right {   
  opacity: 1;
}

.filter-right .updown-right .up-right {   
  opacity: 0.3;
}
/****************** PAGE ***********************/

.container-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-left: 100px;
}

.page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page a {
  display: inline-block;
  color: #000000;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}

.page li {
  margin-right: 11px;
}

.page li:last-child {
  margin-right: 0;
}

.page .active-page {
  padding: 18px 21px;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  text-align: center;
}

.page .two-page,
.page .three-page {
  padding: 18px 21px;
  background-color: #eeeeee;
  text-align: center;
}

.page .two-page:hover,
.page .three-page:hover {
  background-color: #dfdfdf;
}

.page .two-page:active,
.page .three-page:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.next-page {  
  width: 260px;
  padding: 18px 0;
  text-align: center;  
  background-color: #eeeeee;
  border-radius: 3px;
}

.next-page:hover {
  background-color: #dfdfdf;
}

.next-page:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}
