/* Подключение шрифтов */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto.woff2") format("woff2"),
    url("/fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/robotobold.woff2") format("woff2"),
    url("/fonts/robotobold.woff") format("woff");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/robotomedium.woff2") format("woff2"),
    url("/fonts/robotomedium.woff") format("woff");
  font-style: medium;
  font-weight: 500;
}

.wrapper {
	width: 1440px;
	margin: 0 auto;
	background-color: #ffffff;
}
/********************HEADER********************************/
.container_header {
	background-color: #eeeeee;
}
a {
	text-decoration: none;
	color: #000000;

}
.top__header {
	width:1160px;	
	margin: 0 auto;
	padding-top: 50px;	
}

.container_nav {	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_list {
display: flex;
width: 438px;
margin: 0;
padding: 0;
justify-content: space-between;
font-family: "Roboto";
font-size: 16px;
font-weight: 500;
line-height: 30px;
text-transform: uppercase;
list-style: none;
}

.box {
	display: flex;
	
}

.basket {
color: #000000;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 30px;
text-transform: uppercase;
}
.basket::before {
	display: inline-block;
	margin-right: 26px;
	content: "";
	background-image: url("/img/cart-icon.png");
	width: 15px;
	height: 15px;	
	vertical-align: middle;
}

.box_info {
	width: 375px;
	margin-top: 55px;
	margin-right: 95px;
}

.headline_expensive {
margin: 0;
color: #000000;
font-family: Roboto;
font-size: 55px;
font-weight: 500;
line-height: 55px;
}
.text_expensive {
margin-top: 28px;
margin-bottom: 42px;
color: #283136;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.link_buttom {
display: inline-block;
padding: 18px 53px;
color: #ffffff;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18px;
background-color: #fb565a;
text-transform: uppercase;
border-radius: 3px;
}

/********************* MAIN ****************************/
main {
width: 1160px;
margin: 0 auto;
background-color: #ffffff;
}
.container_item {
display: flex;
justify-content: space-between;
margin-top: 80px;
border-bottom: 1px solid #eeeeee;
}
.item {
width: 300px;
margin-bottom: 80px;
color: #283136;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.headline {
color: #000000;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase
}

.link_order {
display: inline-block;
padding: 18px 38px;
color: #ffffff;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18px;
background-color: #fb565a;
text-transform: uppercase;
border-radius: 3px;
}
.item:nth-child(2) .link_order {
background-color: #00ca74;	
}
.item:nth-child(3) .link_order {
background-color: #efc84a;
}
.container_item {

}